<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
</head>
<body>
    <h1>Update Data</h1>
    <form action="./updatesheet" method="get">
        <label for="displayName">user's display name:</label>
        <input type="text" id="display-name" name="displayName" required><br><br>

        <label for="rankCode">Number (0-9):</label>
        <select id="rank-code" name="rankCode" required>
            <option value="0">No Rank</option>
            <option value="1">Iron</option>
            <option value="2">Bronze</option>
            <option value="3">Silver</option>
            <option value="4">Gold</option>
            <option value="5">Platinum</option>
            <option value="6">Diamond</option>
            <option value="7">Ascendant</option>
            <option value="8">Immortal</option>
            <option value="9">Radiant</option>
        </select><br><br>

        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="./raw-data/sheet.txt">check txt</a>
</body>
</html>
